{% extends "::base.html.twig" %}

{% block stylesheets %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/public/assets/css/main.css')}}" />
    <link rel="stylesheet" href="{{ asset('bundles/public/css/screen.css') }}" type="text/css" media="screen">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
{% endblock %}

{% block contenu %}    

    <h2 class="major">Beezyweb</h2>
    <p>Planning de réservation en ligne.</p>                        
    <p><strong>Beezweb</strong> c’est avant tout VOTRE plateforme de gestion des prises de rendez vous entièrement en ligne.
        Notre volonté ? Un suivi instantané de vos réservations d'heures de conduite en temps et en heure depuis votre espace personnel.														
        Terminé les appels, texto vers votre agence auto-école pour réserver une heure de conduite.
        Faite le désormais à l' aide de votre ordinateur,tablette ou smartphone depuis votre canapé.
    </p>

{% endblock %}
