{% extends "PublicBundle:Public:index.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block contenu %}
    <p id="msg_check_mail">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock %}   
