{% extends "PublicBundle:Public:index.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block contenu %}
    <p>Votre compte est activé !. Vous pouvez dès à présent vous connecter via le menu situé en haut à gauche.</p>
{% endblock %}   
