{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block contenu %}
    <h3>Crée un compte Beezyweb</h3>
    <div id="block_inscription">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
            <div id="civilite">                
                <input type="text" name="nom" />            
                <input type="text" name="prenom" />
            </div>
            <div>
                <input type="text" name="email" />
            </div>
            <div id="password">                
                <input type="password" name="pass" />            
                <input type="password" name="confirmPass" />
            </div>
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </form>
    </div>

{% endblock %}    